/* Quarto + revealjs: cover the common caption structures */
.reveal figure figcaption,
.reveal figure .figure-caption,
.reveal .quarto-figure figcaption,
.reveal .quarto-figure .figure-caption,
.reveal p.caption {
  text-align: center !important;
}

.v-center-30 {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.v-center-60 {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* only this slide */
.reveal section.fullbleed{
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: visible !important;
}

/* make the columns container span the whole browser width */
.reveal section.fullbleed .columns.bleed{
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%); /* keep it centered */
}

/* .reveal .columns ul,
.reveal .columns ol,
.reveal .columns dl {
  display: block;
  width: 100%;
  box-sizing: border-box;
} */