/* Quarto + revealjs: cover the common caption structures */
.reveal figure figcaption,
.reveal figure .figure-caption,
.reveal .quarto-figure figcaption,
.reveal .quarto-figure .figure-caption,
.reveal p.caption {
  text-align: center !important;
}

.v-center-30 {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.v-center-60 {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}